<main>
    <h1>活字の森へようこそ</h1>
    <table>
        <tr>
            <th>本の題名</th> <th>感想</th> <th class="hiddenth">showsetting</th>
        </tr>
        <% @bookers.each do |booker| %>
        <tr>
            <th> <%= booker.title %> </th> <th> <%= booker.body %> </th> <th> <%= link_to '観察', booker_path(booker), class: "show_#{booker.id}" %> </th> <th> <%= link_to '遺伝子組み換え', edit_booker_path(booker), class: "edit_#{booker.id}" %> </th> <th> <%= link_to '伐採', destroy_booker_path(booker), class: "destroy_#{booker.id}", method: :delete %> </th>
        </tr>
        <% end %>
    </table>
    <div class="post-books">
        <h1>苗を植える</h1> 
        <%= form_for(@booker) do |f| %>
    
            <h2>タネの名前</h2>
            <%= f.text_field :title,class: "book_title" %>
        
            <h2>水分・肥料</h2>
            <%= f.text_area :body,class: "book_body" %>
        
            <%= f.submit '植樹' %>
        
        <% end %>
    </div>
</main>